html {
  background-color: #dbd6cf;
}

header {
  background-color: #79756f;
  padding: 5px;

}


h1 {
  color: white;
  font-family: 'Bevan', cursive;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1;
  background-color: #79756f;
  text-align: center;
  margin: 0;
  padding: 20px;

}

h2 {
  color: #79756f;
  font-family: 'Bevan', cursive;
  font-size: 1.75rem;
  font-weight: normal;
  line-height: 1;
}


h3 {
  color: #79756f;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1;
  font-family: 'Bevan', cursive;
}



a {
  color: #803837;
}

a:hover {
  color: #ff3333;
}

ol {
  list-style-type: none;
  padding: 0;
  text-align: center;
  font-family: Arial,sans-serif;

}

ul {
  list-style-type: circle;
  line-height: 1.5;
}

.list1 {
  list-style-type: lower-roman;
  font-family: Arial,sans-serif;

}

p {
  font-family: Arial,sans-serif;
  line-height: 1.5
}

blockquote {
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.25;
}

dl {
  font-family: Arial,sans-serif;
}

figcaption {
   font-family: Arial,sans-serif;
   font-style: italic;
   font-size: 12px;
 }

footer {
  text-align: right;
}
.quotemark {
  color: #79756f;
}

.celestial {
  color: #79756f;
}
.rounded {
  color: #79756f;
}
.ndt {
  color: #79756f;
}

nav li {
  display: inline-block;
  padding: 2.5px 1px;
}

nav a {
  display: inline-block;
  background-color: #703838;
  color: white;
  text-decoration: none;
  padding: 0.5em 0.75em;
  border-radius: 5px;
}

img {
  width: 100%;
}

figure {
  padding: 5px;
  margin: 10px;
  border: 3px solid #79756f;
  border-radius: 10px;
}

.sourcebar {
  background-color: #79756f;
  text-align: left;
}

footer h2 {
  color: #dbd6cf;
  padding: 5px;
}
